In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np
import datetime

# CS 418 Semester Project, Analysis of Fire Start Data across United States

### Group Members:
* Trevor Parchem (tparch3)
* Sai Nadkarni (snadka2)

## Loading the Data

In [6]:
# Load the data from the CSV file containing the merged records from United States & Canada Fire Agencies
data = pd.read_csv("uscan_1986-2013.csv")

data.head(10)

,datasource,sourceid,latitude,longitude,year,mon,day,daynum,area_ha,cause_original,cause1,cause2,stateprov,agency
0,fpafod,1,40.036944,-121.005833,2005,2,2,33,0.040469,9,2,8,CA,FS
1,fpafod,2,38.933056,-120.404444,2004,5,12,133,0.101171,1,1,1,CA,FS
2,fpafod,3,38.984167,-120.735556,2004,5,31,152,0.040469,5,2,5,CA,FS
3,fpafod,4,38.559167,-119.913333,2004,6,28,180,0.040469,1,1,1,CA,FS
4,fpafod,5,38.559167,-119.933056,2004,6,28,180,0.040469,1,1,1,CA,FS
5,fpafod,6,38.635278,-120.103611,2004,6,30,182,0.040469,1,1,1,CA,FS
6,fpafod,7,38.688333,-120.153333,2004,7,1,183,0.040469,1,1,1,CA,FS
7,fpafod,8,40.968056,-122.433889,2005,3,8,67,0.323749,5,2,5,CA,FS
8,fpafod,9,41.233611,-122.283333,2005,3,15,74,0.404686,5,2,5,CA,FS
9,fpafod,10,38.548333,-120.149167,2004,7,1,183,0.040469,1,1,1,CA,FS